* {
    background-color: chocolate;
}

.roof_1 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid black;
    position: relative;
}

.body_1 {
    width: 150px;
    height: 150px;
    background-color: brown;
    margin-left: 25px;
    align-items: flex-end;
    position: relative;
}

.door_1 {
    width: 20px;
    height: 40px;
    background-color: black;
    right: -100px;
    bottom: -110px;
    position: relative;
}

.window_1 {
    width: 40px;
    height: 40px;
    background-color: black;
    right: -20px;
    bottom: 1px;
    position: relative;
}

.roof_2 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid black;
    position: static;
}

.body_2 {
    width: 150px;
    height: 150px;
    background-color: brown;
    margin-left: 25px;
    align-items: flex-end;
    position: static;
}

.door_2 {
    width: 20px;
    height: 40px;
    background-color: black;
    margin-left: 130px;
    margin-top: -40px;
    position: static;
    max-height: 40px;
    max-width: 20px;
}

.window_2 {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-left: 45px;
    margin-top: -110px;
    position: static;
}

.roof_3 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid black;
    position: absolute;
    bottom: -200px;
}

.body_3 {
    width: 150px;
    height: 150px;
    background-color: brown;
    margin-left: 25px;
    align-items: flex-end;
    position: absolute;
    bottom: -350px;
}

.door_3 {
    width: 20px;
    height: 40px;
    background-color: black;
    margin-left: 130px;
    margin-top: -40px;
    position: absolute;
    bottom: 0px;
    right: 20px;
}

.window_3 {
    width: 40px;
    height: 40px;
    background-color: black;
    margin-left: 45px;
    margin-top: -110px;
    position: absolute;
    bottom: 80px;
    left: -25px;
}

.roof_4 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid black;
    position: fixed;
    left: 1220px;
    z-index: 2;
    top: 340px;
}

.body_4 {
    width: 150px;
    height: 150px;
    background-color: brown;
    margin-left: 25px;
    align-items: flex-end;
    position: fixed;
    left: 1220px;
    bottom: 185px;
    z-index: 1;
}

.door_4 {
    width: 20px;
    height: 40px;
    background-color: black;
    right: 230px;
    bottom: 185px;
    position: fixed;
    z-index: 3;
}

.window_4 {
    width: 40px;
    height: 40px;
    background-color: black;
    right: 150px;
    bottom: 260px;
    position: fixed;
    z-index: 4;
}

.roof_5 {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 50px solid black;
    position: sticky;
    left: 0px;
}

.body_5 {
    width: 150px;
    height: 150px;
    background-color: brown;
    margin-left: 25px;
    align-items: flex-end;
    position: sticky;
    left: 25px;
}

.door_5 {
    width: 20px;
    height: 40px;
    background-color: black;
    left: 140px;
    top: 580px;
    position: sticky;
}

.window_5 {
    width: 40px;
    height: 40px;
    background-color: black;
    left: 50px;
    bottom: 1px;
    position: sticky;
}

.domik5 {
    position: sticky;
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}

.body {
    flex-direction: row;
}

.razmetka {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.795);
    width: 10px;
    margin-left: 150px;
}

.road {
    height: 300%;
    width: 300px;
    background-color: black;
    left: 600px;
    position: absolute;
}

.domik1 {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}

.domik2 {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 200px;
}

.domik3 {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}

.domik4 {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}

.wrapper {
    height: 100%;
    width: 400px;
    max-width: 400px;
}

.empty {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    height: 300px;
}